In [5]:
import wrds
import pandas as pd
import numpy as np

In [35]:
db = wrds.Connection()

Enter your WRDS username [harsh]:harsh899
Enter your password:········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: n
You can create this file yourself at any time
with the create_pgpass_file() function.
Loading library list...
Done

In [37]:
#use the list of tickers in the query
list_tickers = (16411,31343,49676)
ret = db.raw_sql("""select *
                        from crsp_q_mutualfunds.daily_returns 
                        where caldt>='12/31/2010' and caldt <= '12/31/2020' and crsp_fundno in (16411,31343,49676) """, 
                     date_cols=['date'])

ret

      crsp_fundno       caldt      dret
0         16411.0  2010-12-31 -0.001047
1         16411.0  2011-01-03  0.011880
2         16411.0  2011-01-04 -0.002762
3         16411.0  2011-01-05  0.005274
4         16411.0  2011-01-06 -0.001908
...           ...         ...       ...
7549      49676.0  2020-12-24  0.002745
7550      49676.0  2020-12-28 -0.001161
7551      49676.0  2020-12-29  0.005947
7552      49676.0  2020-12-30  0.005785
7553      49676.0  2020-12-31  0.000504

[7554 rows x 3 columns]

In [38]:
returns = pd.DataFrame()
returns['Date'] = ret['caldt'].unique()
for i in (16411,31343,49676):
    returns[i] = ret[ret['crsp_fundno'] == int(i)].reset_index()['dret']

In [27]:
returns

            Date     16411     31343     49676
0     2010-12-31 -0.001047  0.005278  0.013720
1     2011-01-03  0.011880  0.006930 -0.004042
2     2011-01-04 -0.002762  0.000000 -0.001106
3     2011-01-05  0.005274 -0.005422 -0.014584
4     2011-01-06 -0.001908 -0.007129 -0.003220
...          ...       ...       ...       ...
2513  2020-12-24  0.002696 -0.000348  0.002745
2514  2020-12-28  0.005144  0.005569 -0.001161
2515  2020-12-29 -0.003955  0.008480  0.005947
2516  2020-12-30  0.002803  0.005492  0.005785
2517  2020-12-31  0.004658 -0.002048  0.000504

[2518 rows x 4 columns]